
@import "tailwindcss";



:root{

--color-secondary:#b6c1d3;
--color-button:bg-gradient-to-r from-blue-500 to-purple-600;
--color-primary:bg-gradient-to-br from-slate-900 via-blue-900 to-indigo-900;

}